
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #000000, #1c1c1c);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


form {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.3);
    width: 300px;
}


h1 {
    text-align: center;
    color: #ff0000;
    margin-bottom: 20px;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #ff0000;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #cc0000;
}

input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
}


a {
    color: #ff4d4d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}